DATABASE_URL="postgresql://user:password@localhost:5432/atk"
NODE_ENV="development"
BINANCE_API_KEY="your_api_key"
BINANCE_API_SECRET="your_api_secret"
REDIS_URL="redis://localhost:6379"
PORT=3000
WEB_PORT=5173